<nav class="navbar is-borderless is-shadowless" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <img src=<%= asset_path('ms-icon-150x150.png') %> width="28" height="28">
      <span class="navbar-item has-text-weight-bold has-font-walter">MURRTUBE</span>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'About', root_path, class: "#{current_page?(:controller => 'application', :action => 'about') ? 'has-text-link has-text-weight-bold' : ''} navbar-item" %>
      <%= link_to 'Terms of use', terms_path, class: "#{current_page?(:controller => 'application', :action => 'terms') ? 'has-text-link has-text-weight-bold' : ''} navbar-item" %>
      <%= link_to 'Privacy Policy', privacy_path, class: "#{current_page?(:controller => 'application', :action => 'privacy') ? 'has-text-link has-text-weight-bold' : ''} navbar-item" %>
      <%= link_to 'Cookies Policy', cookies_path, class: "#{current_page?(:controller => 'application', :action => 'cookies_policy') ? 'has-text-link has-text-weight-bold' : ''} navbar-item" %>
      <%= link_to 'Contact us', contact_us_path, class: "#{current_page?(:controller => 'application', :action => 'contact_us') ? 'has-text-link has-text-weight-bold' : ''} navbar-item" %>
      <%= link_to 'News', posts_path, class: "#{current_page?(:controller => 'posts', :action => 'index') ? 'has-text-link has-text-weight-bold' : ''} navbar-item" %>
      <%= link_to 'Advertise', advertise_path, class: "#{current_page?(:controller => 'application', :action => 'advertise') ? 'has-text-link has-text-weight-bold' : ''} navbar-item" %>
    </div>
  </div>
   <div class="navbar-end is-vcentered">
      <%= link_to "https://murrtube.net", class: 'has-text-link has-text-weight-bold navbar-item' do %>
        <i class="fas fa-arrow-right mr-2"></i>Go to Murrtube
      <% end %>
    </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });

    const body = document.querySelector('body');
    const toggle = document.getElementById('toggle');

    if (toggle)
      toggle.addEventListener("click", () => {
          const bodyCheck = body.classList.contains('dark');
          if (bodyCheck) {
              body.className = ''
          } else {
              body.className = "dark"
        }
      })
  });
</script>